<div class="container pt-3 pb-5">
<h1 class="text-center">New Property</h1>
<div class="col-md-8 mx-auto">
  <div class="card mt-3">
    <div class="card-body">
        <div class="row mb-3">
          <div class="col-11">
            <div class="progress">
              <div class="progress-bar" style="width:33.33%"></div>
            </div>
          </div>
          <div class="col-1 text-right font-18">
            <span class="badge_step">1/3</span>
          </div>
        </div>
<!-- <h4 class="text-center mb-2">New Property Details</h4> -->



<%= render 'form', property: @property %>
<%= link_to 'Back', back_properties_path,remote: true %>
</div>
</div>
</div>
</div>
