/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require sweetalert
 *= require_tree .
 *= require_self
 */

.bar {
    height: 18px;
    background: green;
}
@font-face {
  font-family: "Heebo", sans-serif;
  src: url('Heebo-Regular.ttf') format('opentype');

}
body,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
button,
input,
li,
ul,
ol,
table,
td,
tr,
th,
fieldset,
font,
strong,
b {
  font-family: "Heebo", sans-serif !important; }
.menu {
  cursor: pointer;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.container-main{
  border-top: 1px solid #ededed;
    background: #fff !important;
  min-height: calc(100vh - 342px);
}
.card {
  background-color: #fff !important;
}
.footer-bg-image {
  background-image: url('/footer-bg.jpg');
}
.footer-bg-color {
  background-color: #000000c2;
  background-repeat: no-repeat;
    background-size: cover;
}
.social-size {
  font-size: 24px;
}
.setting-headig {
  background: #f1f4f5;
}
.setting-links ul li a  {
    border-bottom: 1px solid #dadfe2;
    line-height: 14px;


}
li a.active  {
    border-left: 2px solid #499df3 !important;
    text-decoration: none !important;
    color: #2388ed !important;
}
.setting-links ul li a   {
    color: #969ea2;
    padding: 15px 10px;
    display: inline-block;
    width: 100%;

}
.setting-profile-image {
  border-radius: 50%;
  display: block;
  backface-visibility: hidden;
  opacity: 1;

}
.setting-profile-image:hover {
  opacity: 0.1;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px;

}
img#blah:hover {
  cursor: pointer;
}
#blah {
  width: 200px;
  height: 200px;
  opacity: 1 !important;
}
.profile-change-icon {
  border: 1px solid #ededed;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto !important;
    border-radius: 50%;
}
.profile-change-icon:hover .middle{
  opacity: 1 !important;

}
.profile-show-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto !important;
}
.profile-descriptin {
  border-bottom: 1px solid #dadfe2;
}
.d-non
{
  display:none;
}
.home-banner {
  background-image: url('/banner-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.overlay-home {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 30vh;
  padding-bottom: 30vh;
}
.search-btn {
  padding-top: 13px;
  padding-bottom: 12px;
}
.service-info {
    padding: 20px;
    margin: 0 auto 30px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.font-35 {
  font-size: 35px;
}
.property {
  height: 200px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: relative;
}
.propert-box {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.listing-badges {
    position: absolute;
    top: 0;
    z-index: 999;
    right: 0;
    width: 100%;
    display: block;
    font-size: 15px;
    padding: 0;
    overflow: hidden;
    height: 100px;
}
 span.featured {
    background-color: #f2494e !important;
}
.listing-badges .featured {
    float: left;
    transform: rotate(-45deg);
    left: -67px;
    top: 17px;
    position: relative;
    text-align: center;
    width: 200px;
    font-size: 12px;
    margin: 0;
    padding: 7px 10px;
    font-weight: 600;
    color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(2, 0, 0, .2);
    background-color: rgba(0, 0, 0, 0.5);
}
.property-overlay {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(120,120,120,0.95) 100%);
  width: 100%;
  padding: 30px 10px;
  text-align: right;
}
.font-25 {
  font-size: 25px;
}
.propert-name {
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  height: 65px;
  padding: 12px 15px;
}
.property-spec {
  border-bottom: 1px solid #dbdbdb;
  height: 75px;
  padding: 10px 15px;
}

/* step form */

.step {
  /* height: 40px; */
  width: 30%;
  /* margin: 0 2px; */
  /* border: 2px solid #bbbbbb !important; */
  /* border: none; */
  /* border-radius: 50%; */
  display: inline-block;
  padding-top: 8px;
  border-bottom: 2px solid #dddd !important;
}

.step.active {
  /* background-color: #3faff0; */
  border-bottom: 2px solid #3faff0 !important;
  /* color: #fff; */
}

/* Mark the steps that are finished and valid: */
.step.finish {
    border-bottom: 2px solid #3faff0 !important;
}
.font-18 {
  font-size: 18px;
  font-weight: bold;
}
.stripe {
  max-width: 300px;
  border: 1px solid #e1e1e1e1;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 0 auto;
  background: #fff;

}
.stripe-button-el {
  width: 100%;
}
.radius-5 {
  border-radius: 5px;
}
.height-image{
    height: 300px !important;
}
.height-image-half{
    height: 150px !important;
}
.background-image{
    border: 1px solid #000;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.bed-show {
  border: 1px solid #EBEBEB !important;
  padding: 10px 15px;
  border-radius: 4px;
}
.font-30 {
  font-size: 30px;
}
.left-sidebar {
  border: 1px solid #e4e4e4 !important;
    background-color: #ffffff !important;
    padding: 20px 24px;
    margin-top: 13px;
}
.approval-box {
  background: #3faff0;
  padding: 10px 5px;
  color: #fff;
  /* border-radius: 5px; */
  text-align: center;
      font-weight: 800;
}
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + .approval-box  {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + .approval-box {
  outline: 2px solid green;

}
.label-w {
  width: 100%;
}
.up-gallery-btn {
  position: absolute;
  top: 90px;
  right: 40px;
  z-index: 999;
}
.container-top{
  background: #f5f5f5 !important;
  min-height: calc(100vh - 343px);
}
.icon-down {
    font-size: 12px;
    margin-left: 5px;
}