<div class="container py-3">
  <p>Thank you  have paid $5 for to make property live!!</p>
  <p>Here will be the link and description for calendar	</p>
  <%= link_to  "http://localhost:3000/properties/"+@live.slug.to_s, property_path(@live.slug) %>
</div>
